
    /* Updated pastel color palette */
:root {
    --soft-lavender: #271432;
    --light-violet: #rgba(232, 220, 241, 0.5);
    --muted-lilac: rgb(255, 243, 252);
    --muted-light: rgb(238 185 255 / 14%);
    --subtle-gray: rgba(245, 245, 245, 1);
    --accent-dark: #0b0411;
}
/* Base mobile-first styling */
body {  
  font-size: clamp(1.3rem, 2vw + 1rem, 2rem);
  margin: 0;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
  letter-spacing:1px;
  color: var(--accent-dark);
  background-image: url("assets/bg.jpg");
  background-position: center;   
  background-repeat: no-repeat; 
  background-size: cover; 
}

.path-bg {
  background-image: url("assets/waves.webp");
  background-position: center;   
  background-repeat: no-repeat; 
  background-size: cover;   
}

.waves {
  background-image: url("assets/jesien.jpg");
  background-position: center;   
  background-repeat: no-repeat; 
  background-size: cover;   
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.yahushua {
  background-color:var(--light-violet);
  
}
.body-bg {
  background: var(--muted-light);
}

.faith {
  background-color: var(--light-violet);
}

.path {
  background-color: var(--muted-lilac);
}

/* Header and Logo Adjustments for Smaller Screens */
header {
  padding-inline: 5%;
  height: auto;
  font-style: normal;
  color: var(--soft-lavender);
}

.logo h1 {
  font-size: 2.5rem;
}
.logo h3 {
  font-size: 1.2rem;
}

.logo {
  font-family: "Cinzel Decorative", serif;
  font-weight: 400;
  font-style: normal;
  
}
header nav a {
  font-size: 1rem;
  text-decoration: none;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4vb;
  color: var(--accent-dark);
}

/* Section Grid for Mobile */
section {
  display: block;
}

.left-container, .right-container {
  padding: 1.5rem;
}

/* Responsive Images */
img, .logo img {
  max-width: 100%;
  height: auto;
}

/* Footer Adjustments */
footer .support-container, footer .contact-container {
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  font-style: normal;
  font-size: 1.3rem;
}

footer .contact-container {

  padding: 0;
  margin: 0;
}

.donate {
  border: 1px solid #0C3149;
  border-radius: 15px;
  max-width: fit-content;
  margin: 0 auto;
  padding: 0.7rem;
}

.donate h3, .donate p {
  margin: 0.5rem;
}

.social a img {
  width: 15%;
}
/* Tablet and Larger Screens */
@media (min-width: 760px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
     
  }
  section {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  .logo h1 {
      font-size: 4rem;
      margin: 0;
  }
  .logo h3 {
      font-size: 1.5rem;
      margin: 0 auto;
      line-height: 2rem;
  }
  .logo .logo-img {
    min-width: 60vw;
  }
  header nav a {
      font-size: 1.5rem;
  }

  .left-container, .right-container {
      padding: 3rem;
  }
}

@media (max-width: 767px) {
  .holder {
    text-align: center;
  }
  
  .left-container h2, .right-container h2, .left-container p, .right-container p {
    margin: 0;
  }
  body {
    padding: 0;
    margin: 0;
    font-size: 1.5rem;
   
  }
  header h1 {
    margin: 0;
  }
  .waves {
    height: 100vw;
    background-position: center;
 }
  .path-bg {
    padding: 0;
  }
  .copyright {
    padding-inline: 1rem;
  }
  .social {
    margin-block: 1rem;
  }
 
}

/* Desktop */
@media (min-width: 1024px) {
  .logo h1 {
      font-size: 6rem;
  }
  .logo h3 {
      font-size: 2rem;
  }

  header nav a {
      font-size: 2rem;
  }

  .left-container, .right-container {
      padding: 4rem;
  }
  .left-container h2, .right-container h2 {
    margin: 0;
  }
  

  footer .contact-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: left;
    gap: 2rem;
    margin: auto;
    padding-inline: 10vw;
    justify-content: center;
    align-items: center;
  }
}

/* arrow up top to page*/
#upButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

#upButton img {
  width: 30px; /* Adjust as needed */
  height: auto;
}

