
    /* Updated pastel color palette */
:root {
    --soft-lavender: #271432;
    --light-violet: #e8dcf1;
    --muted-lilac: #dccbe9;
    --muted-light: #dacbea;
    --subtle-gray: #F5F5F5;
    --accent-dark: #0b0411;
}
/* Base mobile-first styling */
body {
  font-size: 1rem;
  padding: 1rem;
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 4vb;
  color: var(--accent-dark);
  background-image: url("assets/bg.jpg");
  background-position: center;   
  background-repeat: no-repeat; 
  background-size: cover; 
}

path-bg {
  background-image: url(assets/waves.webp);
}
.waves {
  background-image: url("assets/jesien.jpg");
}


.body-bg {
  background: var(--muted-light);
}

.faith {
  background-color: var(--light-violet);
}

.path {
  background-color: var(--muted-lilac);
}

/* Header and Logo Adjustments for Smaller Screens */
header {
  padding-inline: 5%;
  height: auto;
  font-style: normal;
  color: var(--soft-lavender)
}

.logo h1 {
  font-size: 2.5rem;
}
.logo h3 {
  font-size: 1.2rem;
}
header nav a {
  font-size: 1rem;
  float: none;
}

/* Section Grid for Mobile */
section {
  display: block;
}

.left-container, .right-container {
  padding: 1.5rem;
}

/* Responsive Images */
img, .logo img {
  max-width: 100%;
  height: auto;
}

/* Footer Adjustments */
footer .support-container, footer .contact-container {
  flex-direction: column;
  text-align: center;
  padding: 1rem;
}

footer .contact-container {
  gap: 1rem;
}

/* Tablet and Larger Screens */
@media (min-width: 768px) {
  section {
      display: grid;
      grid-template-columns: 1fr 1fr;
  }

  .logo h1 {
      font-size: 4rem;
  }
  .logo h3 {
      font-size: 1.5rem;
  }

  header nav a {
      font-size: 1.5rem;
  }

  .left-container, .right-container {
      padding: 3rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .logo h1 {
      font-size: 6rem;
  }
  .logo h3 {
      font-size: 2rem;
  }

  header nav a {
      font-size: 2rem;
  }

  .left-container, .right-container {
      padding: 4rem;
  }
}
